{
  "openapi": "3.0.3",
  "info": {
    "title": "Folloze API",
    "version": "1.1.0",
    "description": "Folloze public APIs for programmatically generating boards from templates and managing content items. Two complementary REST APIs share the same base URL, authentication, and conventions:\n\n- **Board Creation API** — generate Folloze boards from template boards (structure, sections, widgets, headers, footers).\n- **Content API** — create content items from any source, search them, and place them on boards with per-board overrides.\n\nA single API token issued by Folloze unlocks both. To request a token, contact your Folloze account representative.",
    "contact": {
      "name": "Folloze Support",
      "email": "support@folloze.com"
    }
  },
  "servers": [
    {
      "url": "https://content-api.folloze.com",
      "description": "Production"
    }
  ],
  "security": [
    { "BasicTokenAuth": [] }
  ],
  "tags": [
    {
      "name": "Board Creation",
      "description": "Generate Folloze boards from template boards."
    },
    {
      "name": "Content",
      "description": "Create, search, and place content items on boards."
    }
  ],
  "paths": {
    "/v1/board_templates": {
      "get": {
        "tags": ["Board Creation"],
        "summary": "List templates",
        "description": "Returns every template board in your organization with its id, name, and description. Use this to discover which templates are available before fetching schemas or creating boards.",
        "operationId": "listTemplates",
        "responses": {
          "200": {
            "description": "List of templates.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Template" }
                },
                "example": [
                  {
                    "id": 178297,
                    "name": "CSM: Account Resource Center",
                    "description": "A customer-success hub for sharing onboarding guides, success plans, and key contacts with each account. #csm #customer-success"
                  },
                  {
                    "id": 155459,
                    "name": "[Template] Digital Sales Room",
                    "description": "Digital Sales room for Folloze. #Template #sales"
                  },
                  {
                    "id": 165922,
                    "name": "[Template] GeneratorAI",
                    "description": "Pre-wired template for boards generated by AI pipelines. #generative #template"
                  },
                  {
                    "id": 152644,
                    "name": "[BuyEx 3.0 Template] ABM 1:1",
                    "description": "1:1 personalized buyer experience for ABM plays. #abm #buyex"
                  }
                ]
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/FeatureDisabled" }
        }
      }
    },

    "/v1/board_templates/{id}/sections": {
      "get": {
        "tags": ["Board Creation"],
        "summary": "List template sections",
        "description": "Returns the body sections of the template, each with the API schema of its widgets pre-populated with the template's current sample content. Header and footer are not included — use `/describe` for those. Use this response as the starting point for the `POST /v1/boards` payload.",
        "operationId": "listTemplateSections",
        "parameters": [
          { "$ref": "#/components/parameters/TemplateId" }
        ],
        "responses": {
          "200": {
            "description": "Template sections.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sections": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Section" }
                    }
                  }
                }
              }
            }
          },
          "403": { "$ref": "#/components/responses/FeatureDisabled" },
          "404": { "$ref": "#/components/responses/TemplateNotFound" },
          "422": { "$ref": "#/components/responses/UnpublishedTemplate" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },

    "/v1/board_templates/{id}/describe": {
      "get": {
        "tags": ["Board Creation"],
        "summary": "Describe template (with header & footer)",
        "description": "Same as `/sections`, but additionally includes the header and footer in the format used for creation. Useful for round-tripping a template — read it, modify it, and post it back to create a new board.",
        "operationId": "describeTemplate",
        "parameters": [
          { "$ref": "#/components/parameters/TemplateId" }
        ],
        "responses": {
          "200": {
            "description": "Full template description.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "header": { "$ref": "#/components/schemas/Header" },
                    "sections": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Section" }
                    },
                    "footer_id": { "type": "integer", "example": 789 }
                  }
                }
              }
            }
          },
          "403": { "$ref": "#/components/responses/FeatureDisabled" },
          "404": { "$ref": "#/components/responses/TemplateNotFound" },
          "422": { "$ref": "#/components/responses/UnpublishedTemplate" }
        }
      }
    },

    "/v1/boards": {
      "post": {
        "tags": ["Board Creation"],
        "summary": "Create a board from a template",
        "description": "Creates a new board in the organization, copying the template's structure and applying the supplied content. Sections present in the template but missing from the request are removed from the new board. Headers and footers are always preserved.",
        "operationId": "createBoard",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateBoardRequest" },
              "example": {
                "template_board_id": 4321,
                "board_name": "Q3 Campaign — Acme Corp",
                "header": {
                  "primary_logo": { "url": "https://cdn.example.com/acme.png", "link": "https://acme.com", "alt": "Acme" },
                  "tagline": "Built for modern teams",
                  "navigation": [
                    { "text": "Solutions", "url": "https://acme.com/solutions" },
                    { "text": "Pricing", "url": "https://acme.com/pricing" }
                  ],
                  "cta": { "text": "Talk to sales", "url": "https://acme.com/contact" }
                },
                "footer_id": 789,
                "sections": [
                  {
                    "section_id": "s_abc123",
                    "name": "Banner - classic",
                    "widgets": [
                      {
                        "widget_id": "w_111",
                        "title": "Acme x Folloze",
                        "subtitle": "Personalized buyer experiences at scale",
                        "cta": { "text": "Get started" },
                        "secondary_cta": { "text": "Watch demo" }
                      }
                    ],
                    "ribbonParts": []
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Board created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateBoardResponse" }
              }
            }
          },
          "400": {
            "description": "`sections` is missing or not an array.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/FeatureDisabled" },
          "404": {
            "description": "`template_board_id` not found, or `footer_id` does not exist in the organization.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "422": {
            "description": "Validation failed (unknown field, wrong type, etc.). The body includes an `errors` array.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationError" } } }
          },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },

    "/v1/items": {
      "get": {
        "tags": ["Content"],
        "summary": "List & search content items",
        "description": "Returns a paginated list of content items in the organization, with filtering by type, owner, tags, and free text.",
        "operationId": "listItems",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 }, "description": "Page number for pagination." },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 24, "maximum": 100 }, "description": "Items per page (max 100)." },
          { "name": "sort_by", "in": "query", "schema": { "type": "string" }, "description": "Field to sort results by." },
          { "name": "sort_direction", "in": "query", "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" } },
          { "name": "search", "in": "query", "schema": { "type": "string" }, "description": "Free-text search across item content." },
          { "name": "type[]", "in": "query", "schema": { "type": "array", "items": { "type": "string" } }, "explode": true, "description": "Filter by content type (e.g. `video`, `pdf`). Repeatable." },
          { "name": "owner[]", "in": "query", "schema": { "type": "array", "items": { "type": "string" } }, "explode": true, "description": "Filter by owner user id. Repeatable." },
          { "name": "tags[]", "in": "query", "schema": { "type": "array", "items": { "type": "string" } }, "explode": true, "description": "Filter by tag name. Repeatable." }
        ],
        "responses": {
          "200": {
            "description": "List of content items.",
            "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "tags": ["Content"],
        "summary": "Create a content item",
        "description": "Creates a new content item in the organization from any external source. The asset itself does NOT need to exist in Folloze beforehand — provide a public URL (link items) or a downloadable URL (file items) and Folloze ingests it. File items are ingested asynchronously: the response is `202 Accepted` immediately and Folloze fetches the asset from `download_url` in the background.",
        "operationId": "createItem",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateItemRequest" }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Item creation accepted. File ingest may still be in progress.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "folloze_id": { "type": "integer", "example": 770029 },
                    "provider_asset_id": { "type": "string", "example": "abc123" },
                    "provider_name": { "type": "string", "example": "folloze" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "422": { "description": "Validation failed (e.g. unknown `creator_email`).", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },

    "/v1/board_items": {
      "post": {
        "tags": ["Content"],
        "summary": "Place a content item on a board",
        "description": "Places an existing content item on a board WITHOUT creating a duplicate. Per-board presentation fields (title, description, thumbnail, tags, schedule, categories) override the source item's defaults only on this board — the source item is never mutated.",
        "operationId": "createBoardItem",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateBoardItemRequest" },
              "example": {
                "board_id": 241976,
                "content_center_item_id": 509798,
                "creator_email": "admin@follozeqa.com",
                "title": "Shaping Tomorrow's Cities — for JLL",
                "description": "Human-centric development insights tailored for this account.",
                "thumbnail_url": "https://images.folloze.com/image/upload/hsvolbwawc9krdqmybvs.png",
                "tags": ["JLL", "Creating a Space"],
                "status": "online",
                "is_gated": false,
                "open_in_new_tab": true,
                "schedule": {
                  "start_unix": 1714500000,
                  "end_unix": 1717092000,
                  "timezone": "America/New_York"
                },
                "categories": [
                  { "name": "Product Updates" },
                  { "name": "Customer Stories" }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Board item created.",
            "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "description": "`board_id` or `content_center_item_id` not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "422": { "description": "Validation failed (e.g. unknown `creator_email`).", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },

    "/v1/board_items/{id}": {
      "put": {
        "tags": ["Content"],
        "summary": "Update a board item",
        "description": "Updates the per-board overrides for an existing board item: title, description, thumbnail, schedule, status, and categories. The underlying source content item is never modified. Only fields included in the body are updated; omit a field to leave it as-is.",
        "operationId": "updateBoardItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Id of the board item (returned from `POST /v1/board_items`). NOT the `content_center_item_id`."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateBoardItemRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Board item updated.",
            "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "description": "Board item not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "422": { "description": "Validation failed.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    }
  },

  "components": {
    "securitySchemes": {
      "BasicTokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API token sent as `Authorization: Basic <your_api_token>`. The token is sent as-is — no `client_id:client_secret` pair, no base64 encoding. Tokens are issued per organization by Folloze; contact your account representative to request one. The same token unlocks both the Board Creation API and the Content API."
      }
    },

    "parameters": {
      "TemplateId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "integer" },
        "description": "The template board id (e.g. 4321)."
      }
    },

    "responses": {
      "Unauthorized": {
        "description": "Authentication is missing or invalid.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "FeatureDisabled": {
        "description": "Feature `board_creation_api` is disabled for the organization.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "TemplateNotFound": {
        "description": "Template board not found in the organization.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "UnpublishedTemplate": {
        "description": "Template board has no published configuration.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "ServerError": {
        "description": "Unexpected server error.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      }
    },

    "schemas": {
      "Template": {
        "type": "object",
        "required": ["id", "name"],
        "properties": {
          "id": { "type": "integer", "description": "Template id. Pass as `template_board_id` on `POST /v1/boards`, or as `:id` on `/sections` / `/describe`." },
          "name": { "type": "string", "description": "Display name set by the template owner." },
          "description": { "type": "string", "description": "Template description (may be empty)." }
        }
      },

      "Section": {
        "type": "object",
        "properties": {
          "section_id": { "type": "string", "description": "Stable section id (preferred for matching)." },
          "type": { "type": "string", "example": "body" },
          "name": { "type": "string", "example": "Banner - classic", "description": "Section name; used as fallback match when `section_id` is absent." },
          "widgets": {
            "type": "array",
            "items": { "type": "object", "additionalProperties": true },
            "description": "Widgets in the section. Each must follow the widget's API schema. Provide `widget_id` to target a specific widget; otherwise widgets are matched by index."
          },
          "ribbonParts": {
            "type": "array",
            "items": { "type": "object", "additionalProperties": true }
          }
        }
      },

      "Header": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "example": "Header with navigation 1", "description": "If omitted, the API auto-selects: `secondary_logo` → \"Header with 2 logos\"; non-empty `navigation` → \"Header with navigation 1\"; otherwise default \"Header\"." },
          "primary_logo": {
            "type": "object",
            "properties": {
              "url": { "type": "string", "format": "uri" },
              "link": { "type": "string", "format": "uri" },
              "alt": { "type": "string" }
            }
          },
          "secondary_logo": {
            "type": "object",
            "properties": {
              "url": { "type": "string", "format": "uri" },
              "link": { "type": "string", "format": "uri" },
              "alt": { "type": "string" }
            }
          },
          "tagline": { "type": "string" },
          "navigation": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": { "type": "string" },
                "url": { "type": "string", "format": "uri" }
              }
            }
          },
          "cta": {
            "type": "object",
            "properties": {
              "text": { "type": "string" },
              "url": { "type": "string", "format": "uri" }
            }
          },
          "visibility": {
            "type": "object",
            "properties": {
              "primary_logo": { "type": "boolean" },
              "secondary_logo": { "type": "boolean" },
              "tagline": { "type": "boolean" },
              "navigation": { "type": "boolean" },
              "cta": { "type": "boolean" },
              "social": { "type": "boolean" }
            }
          }
        }
      },

      "CreateBoardRequest": {
        "type": "object",
        "required": ["template_board_id", "sections"],
        "properties": {
          "template_board_id": { "type": "integer", "description": "Id of the template board to use." },
          "sections": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Section" },
            "description": "Sections in the template but missing from this array are removed from the new board."
          },
          "board_name": { "type": "string", "description": "Display name. Defaults to \"Board from {template name}\"." },
          "user_id": { "type": "integer", "description": "Owner of the new board. Must belong to the same organization. Defaults to the first org admin." },
          "header": { "$ref": "#/components/schemas/Header" },
          "footer_id": { "type": "integer", "description": "Id of an existing footer CampaignElement in the organization." }
        }
      },

      "CreateBoardResponse": {
        "type": "object",
        "properties": {
          "board_id": { "type": "integer", "example": 12345 },
          "board_url": { "type": "string", "format": "uri", "example": "https://acme.boards.folloze.com/abcdef" },
          "sections": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Section" },
            "description": "What was actually applied to the new board, including freshly assigned `widget_id`s."
          }
        }
      },

      "CreateItemRequest": {
        "type": "object",
        "required": ["creator_email", "title"],
        "properties": {
          "creator_email": { "type": "string", "format": "email", "description": "Email of an existing user in the organization. Recorded as the item's creator. Must match a real user, otherwise the API returns `{\"message\":\"No user exists for email ...\"}`." },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "thumbnail_url": { "type": "string", "format": "uri" },
          "download_url": { "type": "string", "format": "uri", "description": "For file-type items: the public URL Folloze will pull the asset from. Must be reachable until ingest completes." },
          "url": { "type": "string", "format": "uri", "description": "For URL-type items: the destination URL the item links to." },
          "tags": { "type": "array", "items": { "type": "string" }, "description": "Tag names to apply. New tags are created on demand." },
          "board_item": {
            "type": "object",
            "description": "If present, also places the newly created item on a board in the same call.",
            "additionalProperties": true
          }
        }
      },

      "BoardItemFields": {
        "type": "object",
        "description": "Shared per-board override fields for board items.",
        "properties": {
          "title": { "type": "string", "description": "Per-board title override." },
          "description": { "type": "string", "description": "Per-board description override." },
          "thumbnail_url": { "type": "string", "format": "uri", "description": "Per-board thumbnail override." },
          "tags": { "type": "array", "items": { "type": "string" }, "description": "Per-board tags." },
          "status": { "type": "string", "enum": ["online", "offline"] },
          "is_gated": { "type": "boolean", "description": "Whether viewing the item requires a form fill." },
          "open_in_new_tab": { "type": "boolean" },
          "schedule": {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "start_unix": { "type": "integer" },
                  "end_unix": { "type": "integer" },
                  "timezone": { "type": "string", "example": "America/New_York" }
                }
              },
              { "type": "boolean", "enum": [false], "description": "Pass `false` to clear any schedule." }
            ]
          },
          "categories": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Category" }
          }
        }
      },

      "CreateBoardItemRequest": {
        "allOf": [
          {
            "type": "object",
            "required": ["board_id", "content_center_item_id", "creator_email"],
            "properties": {
              "board_id": { "type": "integer", "description": "Target board id." },
              "content_center_item_id": { "type": "integer", "description": "Id of the existing content item to place on the board." },
              "creator_email": { "type": "string", "format": "email", "description": "Email of an existing user; recorded as the board-item creator." }
            }
          },
          { "$ref": "#/components/schemas/BoardItemFields" }
        ]
      },

      "UpdateBoardItemRequest": {
        "$ref": "#/components/schemas/BoardItemFields"
      },

      "Category": {
        "type": "object",
        "description": "Category to place this item under on the board. Specify `name` to find or create on the board, or `id` to reference an existing category.",
        "properties": {
          "name": { "type": "string", "description": "Category name. Found on the board if it exists; created if it doesn't." },
          "id": { "type": "integer", "description": "Existing category id. Errors if not found on this board." },
          "sub_categories": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Category" },
            "description": "Same name/id rules; nested under the parent category."
          }
        }
      },

      "Error": {
        "type": "object",
        "properties": {
          "message": { "type": "string" }
        }
      },

      "ValidationError": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": { "type": "string" },
            "example": [
              "Section 's_abc123', widget 0: unknown field 'bad'"
            ]
          }
        }
      }
    }
  }
}
